@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@400;500;600;800&display=swap');

*,*::after,*::before{box-sizing: border-box;}
html{scroll-behavior: smooth;}

/*헤더*/
header{width: 100%;text-align: center;height: 100px;line-height: 100px;background-color: #ebc000;}
h1{font-family: "Poppins", sans-serif;font-size: 2.5rem; color: #fff;}

/*섹션*/
h2{text-align: center;padding-top: 100px;padding-bottom: 100px;font-family: "Poppins", sans-serif;}
.box{padding-bottom: 100px;}
.box:first-child{background:#ebc000;}
.box:nth-child(2){background: #01b169;}
.box:last-child{background: #ebc000;}
#playing{width: 100%;display: flex;flex-wrap: wrap;justify-content: center; gap: 20px;}
#popular{width: 100%;display: flex;flex-wrap: wrap;justify-content: center; gap: 20px;}
#topRated{width: 100%;display: flex;flex-wrap: wrap;justify-content: center; gap: 20px;}
.movie{width: 40%;text-align: center;border: 1px solid lightgray;margin-bottom: 20px;padding: 10px;border-radius: 10px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;transition: transform 0.3s;background: #fff;}
.movie img{width: 100%;border-radius: 5px;}
.movie:hover{transform: scale(1.02);}
.movie h3{font-size: 1.1rem;padding-top: 10px;font-family: "Noto Sans", sans-serif;}
.movie p{font-size: 0.8rem;font-family: "Noto Sans", sans-serif;padding-bottom: 5px;}

/*하단 메뉴*/
#bottom-nav{width: 100%;height: 70px;line-height: 70px;position: fixed;bottom: 0;left: 0;background: rgba(255, 255, 255,0.5);backdrop-filter: blur(3px);}
#bottom-nav ul{display: flex;justify-content: center;margin: 0 auto;width: 100%;padding-top: 5px;padding-bottom: 5px;}
#bottom-nav ul li{width: 50px;margin: 0 auto;transition: trasform 0.2s;}
#bottom-nav ul li:hover{transform: scale(1.2);}
#bottom-nav ul li a img{width: 100%;}

/*하단 메뉴 숨김*/
#bottom-nav{bottom: -70px; transition: bottom 0.2s;}
#bottom-nav.show{bottom: 0;}
