/*반응형 화면 크기*/
$tablet: 481px;
$laptop: 1025px;
$desktop: 1440px;

@mixin tablet{
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin laptop{
    @media (min-width: $laptop) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: $desktop) {
        @content;
    }
}