@charset "utf-8";

*,*::before,*::after{box-sizing: border-box;}

#slide{width: 100%;overflow: hidden;position: relative;}
#slide img{width: 100%;}
#slide ul{width: 300%;position: relative;overflow: hidden;left: 0;}
#slide ul li{width: 33.33%;float: left;}

#idc{position: absolute;bottom: 15px; left: 50%;transform: translateX(-50%);}
#idc a{width: 10px; height: 10px;background: #fff;border-radius: 10px;display: inline-block;margin-right: 5px;}
#idc a:last-child{margin-right: none;}
#idc a.on{background: black;}

.arrow{width: 30px;}
.left{position: absolute;left: 5px; top: 50%;transform: translateY(-50%);}
.right{position: absolute;right: 5px; top: 50%;transform: translateY(-50%);}
.arrow img{width: 100%;}

.mb{display: block;}
.tb{display: none;}
.pb{display: none;}

@media screen and (min-width:740px) {
    .mb{display: none;}
    .tb{display: block;}
    

}

@media screen and (min-width:1000px) {
    .tb{display: none;}
    .pb{display: block;}
}