@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@400;500;600;800&display=swap');

*,*::after,*::before{box-sizing: border-box;}
html{scroll-behavior: smooth;}

h2{font-family: "Noto Sans", sans-serif;}
h3{font-family: "Poppins", sans-serif;}
#box{width: 100%;height: 100%;}
#box2{width: 90%;display: flex;flex-wrap: wrap;margin: 0 auto;padding-top: 30px;height: 100%;}

.left{width: 100%;height: 1400px;}
.left h2,h3,p{margin: 1rem auto;}
.txt {font-weight: bold;font-size: 1.1rem;line-height: 1.6;font-family: "Poppins", sans-serif;}
p{font-family: "Noto Sans", sans-serif;font-size: 1rem;}
.txt{border-bottom: 2px solid black ;padding-bottom: 5px;margin-top: 50px;font-size: 1.3rem;}
.text{text-indent: 5px;padding-top: 10px;font-family: "Noto Sans", sans-serif;line-height: 2;}
.color{width: 100px; display: flex;}
.color img{width: 100%;padding-top:5px;}
.font{width: 300px; }
.font img{width: 100%;padding-top: 10px;}
.skill{width: 500px;}
.skill img{width: 100%; padding-top: 10px;padding-left: 15px;}

.btn{text-align: center;position: relative;width: 200px;margin: 0 auto;}
.figma{background: #fff;margin-top: 50px;border: none;}
.figma::before{content: "";border-top: 10px solid transparent;border-bottom: 10px solid transparent; border-left:20px solid black;width: 0;height: 0;position: absolute;left:0;}
.figma::after{content: "";border-top: 10px solid transparent;border-bottom: 10px solid transparent; border-right:20px solid black;width: 0;height: 0;position: absolute;right: 0;}
.figma a{ color: black;font-weight: bold;font-size: 1.2rem;text-decoration: none;}


.right{position: relative;width: 100%;height: 1300px;margin: 0 auto;}
.device{padding: 90px 10px;border: 5px solid #2f2f2f;background: #171717;box-shadow: 0 0 50px 20px rgba(0,0,0,0.4);border-radius: 60px;position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);z-index: 10;}
.dwrapper iframe{width: 450px;height: 700px;background-color: #Fff;display: block;margin: 0 auto;}
.dwrapper{width: 100%;height: 100%;}
.device::before, .device::after {content: "";position: absolute;z-index: 2;}
.device::before{width: 18%; height: 10px;background: #2f2f2f; border-radius: 10px; left: 50%; transform: translateX(-50%);top: 45px;}
.device:after{width: 15%;height:7.5%;border: 7px solid #2f2f2f;border-radius: 50px;left: 50%;transform: translateX(-50%);bottom: 10px;}

#topbtn a{position: fixed;right: 10px;bottom: 5px;width: 60px;}
#topbtn a img{width:100%;}

@media screen and (min-width:1200px) {

#box2{padding-left: 100px;padding-top: 70px;}
.left{width: 50%;height: 1600px;}
.right{position: relative;width: 50%;}

.btn{width: 30%; margin: 0 auto;}

}