@charset "utf-8";

*,*::after,*::before{box-sizing: border-box;}

a{text-decoration: none;color: #040A2B;}
#header{width: 100%;height: 70px;border-bottom: 1px solid lightgrey;background: #fff;position: fixed;top: 0;z-index: 999;}
#header h1{text-align: center;}
#header h1 img{width: 180px;}
#head{width: 100%;}
#head ul{display: flex;}
.left{position: absolute;top: 15px; left: 10px;}
.right{position: absolute;top: 20px;right: 20px;}
.account{margin-right: 15px;}

section{width: 100%;padding-top: 70px;}

.banner{width: 100%;position:relative;}
.banner img{width: 100%;}
.btn{background: none;border: none;font-size: 0.7rem;display: block;position: absolute;top: 10px;color: #fff;left: 10px;}
p{position: absolute;bottom: 25px; left: 25px;color: #fff;font-weight: bold;font-size: 1.5rem; letter-spacing: 0.5px;}

#menu{width: 100%; }
.list{width: 100%;display: flex;justify-content: space-between; padding-top: 20px;padding-left: 20px;}
.list li{margin-right: 20px;line-height: 30px;}
.list li.on{border-bottom: 2px solid #040A2B ;padding: 0 8px;}
.list li a{font-weight: bold;}

.btn2{background: none;border: none; border-bottom: 2px solid; margin-bottom: 15px; padding-right: 25px;padding-bottom: 5px; position: relative;margin-right: 10px;font-size: 0.8rem;position: absolute;top: 0;right: 0;cursor: pointer;}
.btn2::after{content: "";border-top: 13px solid #040A2B;border-right: 8px solid transparent; border-left: 8px solid transparent;width: 0;height: 0;position: absolute;right: 0;top: 5px;}

.box{width: 100%;margin-top: 30%;}
.box img{width: 100%;padding-bottom: 5px;}
.box .pds{width: 95%;margin: 0 auto; position: relative;}
.box ul{display: flex;flex-wrap: wrap;padding-top: 50px;}
.box ul li{width:50%;line-height: 18px;}
.pds ul li a{display: block;padding: 20px 10px;font-size: 0.8rem;}
.txt1{font-weight: bold;font-size: 1rem;}
.txt3{font-weight: bold;display: block;padding-top: 20px; font-size: 0.9rem;}

.sbtn{text-align: center;}
.btn3{background: #fff; border: 2px solid #040A2B;font-size: 1.1rem;padding: 8px 20px;font-weight: bold;}

.banner2{width: 95%;margin: 10px auto;position: relative;}
.banner2 img{width: 100%; display: block;}
.btn4{background: none; border: 2px solid #040A2B;font-size: 1.1rem;padding: 8px 20px;font-weight: bold;position: absolute;bottom: 5%;left: 35%;}

.bbtn{width: 95%; text-align: center;}
.btn5{background: #fff; border: 2px solid #040A2B;font-size: 1.1rem;padding: 8px 20px;font-weight: bold;margin-top: 20px;margin-bottom: 200px;}

.tbtn {position: fixed;bottom: 0;right: 10px;}

#footer{width: 100%; border-top: 1px solid #AFAFAF; }
.foot{width: 95%; padding-top: 80px;padding-bottom: 50px;}
.bbox1{display: flex;justify-content: center;}
.bbox1>li{margin-right: 80px;}
.foot ul li:last-child{margin-right: 0;}
.foot h2{text-align: center;}
.bbox2{display: flex;justify-content: center;}
.bbox2 li{margin-right: 20px;}
.bbox2 li a{font-size: 0.7rem;font-weight: bold;}

h2 .inc{font-weight: bold;font-size: 1rem;color: #040A2B; display: block;margin-top: 30px;}

.bbox3{margin-top: 20px;}
.bbox3 li{text-align: center; font-size: 0.4rem;line-height: 30px;}
.bbox3 li a{color: #AFAFAF;}

