@charset "utf-8";

*,*::after,*::before{box-sizing: border-box;}

a{text-decoration: none;color: #040A2B;}
#header{width: 100%;height: 70px;border-bottom: 1px solid lightgrey;background: #fff;position: fixed;top: 0;z-index: 999;}
#header h1{text-align: center;}
#header h1 img{width: 180px;}
#head{width: 100%;}
#head ul{display: flex;}
.left{position: absolute;top: 15px; left: 10px;}
.right{position: absolute;top: 20px;right: 20px;}
.account{margin-right: 15px;}

section{width: 100%;padding-top: 70px;}
section img{width: 100%; display: block;}
.p3{margin-bottom: 30px;}
#box ul{text-align: center;}

.btn{background: none;border: none; color: #3C1304; font-weight: bold;position: absolute;top: 80px;left: 10px;}
.a1{position: absolute;left: 10px;top: 40%;}
.a2{position: absolute;right: 10px;top: 40%;}
.btn2{background: #fff; border: 2px solid #040A2B;font-size: 1.1rem;padding: 15px 50px;font-weight: bold;margin-top: 30px;cursor: pointer; margin-bottom: 200px;}


.sbtn{text-align: center;}
.btn3{background: #fff; border: 2px solid #040A2B;font-size: 1.1rem;padding: 8px 20px;font-weight: bold;}

.banner2{width: 95%;margin: 10px auto;position: relative;}
.banner2 img{width: 100%; display: block;}
.btn4{background: none; border: 2px solid #040A2B;font-size: 1.1rem;padding: 8px 20px;font-weight: bold;position: absolute;bottom: 5%;left: 35%;}

.bbtn{width: 95%; text-align: center;}
.btn5{background: #fff; border: 2px solid #040A2B;font-size: 1.1rem;padding: 8px 20px;font-weight: bold;margin-top: 20px;}

.tbtn {position: fixed;bottom: 0;right: 10px;}

#footer{width: 100%; border-top: 1px solid #AFAFAF; margin-top: 0px; }
.foot{width: 95%; padding-top: 80px;padding-bottom: 50px;}
.bbox1{display: flex;justify-content: center;}
.bbox1>li{margin-right: 80px;}
.foot ul li:last-child{margin-right: 0;}
.foot h2{text-align: center;}
.bbox2{display: flex;justify-content: center;}
.bbox2 li{margin-right: 20px;}
.bbox2 li a{font-size: 0.7rem;font-weight: bold;}

h2 .inc{font-weight: bold;font-size: 1rem;color: #040A2B; display: block;margin-top: 30px;}

.bbox3{margin-top: 20px;}
.bbox3 li{text-align: center; font-size: 0.4rem;line-height: 30px;}
.bbox3 li a{color: #AFAFAF;}

