@charset "utf-8";

*,*::after,*::before{box-sizing: border-box;}

a{text-decoration: none;}
#header{width: 100%;border-bottom:1px solid lightgrey ;padding: 20px;}
.head{display: flex; width: 90%;justify-content: center;margin: 0 auto;}
.head a{font-weight: bold;font-size: 1.2rem;margin-right: 50px;}
.account{border-right: 1px solid lightgray;}
.account a{color: #040A2B;}
.bag a{color: #AFAFAF;margin-right: 0;margin-left: 50px;}
.back a{margin-right: 30px;}
.back a img{position: absolute;left: 30px;}

#section{width: 100%;margin-bottom: 50px;}
.box{width: 90%; text-align: center;padding-top: 50px;margin: 0 auto;}
.txt1{font-size: 2.3em; font-weight: bold; color: #040A2B;}
.txt2{font-size: 0.8rem;font-weight: bold; color: #AFAFAF;letter-spacing: 0.3px;}
.box li{padding-top: 30px;}
.sns{display: flex;justify-content: center;}
.sns li{margin-right: 30px;}
.sns li:last-child{margin-right: 0;}

input{background: none;border: none; border-bottom: 1px solid #AFAFAF;font-weight: bold;width: 60%;padding-bottom: 10px;padding-left: 10px;}
.id{margin-top: 50px;margin-bottom: 20px;}
.pwd{margin-bottom: 80px;}

button{background: #040A2B;color: #fff;border: none;display: block;font-size:1.2rem ; margin: 10px auto;cursor: pointer;margin-bottom: 50px;}
.login{padding: 15px 110px;border-radius: 15px;margin-bottom: 20px;} 
.join{padding: 15px 102px;border-radius: 15px;margin-bottom: 20px;}
.search{background: none;color: #AFAFAF;font-size: 0.8rem;font-weight: bold;padding: 5px 20px;border: none;border-bottom: 1px solid lightgray; border-radius: none;}