@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*,*::after,*::before{box-sizing: border-box;}
a{text-decoration: none;font-family: "Lexend", sans-serif;}
#header{width: 100%;border-bottom:1px solid lightgrey ;padding: 20px;}
.head{display: flex; width: 90%;justify-content: center;margin: 0 auto;}
.head a{font-weight: bold;font-size: 1.2rem;margin-right: 50px;}
.account{border-right: 1px solid lightgray;}
.account a{color: #AFAFAF}
.bag a{color: #040A2B;;margin-right: 0;margin-left: 50px;}
.back a{margin-right: 30px;}
.back a img{position: absolute;left: 30px;}

section{width: 90%; margin: 0 auto;}
#main{display: flex;flex-wrap: wrap; margin-top: 80px;}
#main ul{padding-left: 15px;}
.box1{width: 50%;margin: 0 auto;}
.box2{width: 50%;padding-top: 50px;}
.p2{padding-top: 50px;}

a{color: #040A2B;}
.t1{font-weight: bold;font-size: 18px;line-height: 40px;}
.t2{font-size: 0.8rem; line-height: 20px;}
.t3{display: block;padding-top: 10px;font-size: 0.8rem;}
.t4{font-weight: bold;display: block; padding-bottom: 20px;}
.size{padding-top: 30px;}
.select{position: absolute;right: 50px;background: none;padding: 10px 20px; font-weight: bold;}

.btn{background: none;border: none;border-bottom: 1px solid #040A2B;position: absolute;right: 50px;margin-top: 30px;cursor: pointer;}
h2{border-bottom: 1px solid lightgrey;margin-top: 100px;display: flex;justify-content: space-between;padding: 10px 20px;color: #040A2B;margin-right: 80px;margin-left: 80px;}
h2 .price{font-size: 1.3rem;padding-top: 3px;}

.btn2{background: #040A2B;color: #fff;font-size: 1.2rem;font-weight: bold;padding: 10px  120px; border-radius: 15px;cursor: pointer;}
.bottom{text-align: center;border-top: 1px solid lightgrey;padding-top: 30px; margin-bottom: 50px;}