@charset "utf-8";

header{height: 80px;margin-bottom: 80px;}
h1{text-align: center;line-height: 80px;color: #333;}
#search{text-align: center;margin-bottom: 80px;}
input{padding: 10px;border: 5px solid gray;}
input:hover{border: 5px solid green;}
input:focus{border: 5px solid green;outline: none;color: green;}

#pic{width: 80%; text-align: center;margin: 0 auto;}
#pic img{display: inline-block; border: 10px solid #eee;width: 300px;;height: 200px;}
#pic img:hover{border: 10px solid green}