@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
*,*::after,*::before{box-sizing: border-box;}

body{width: 100%;background: #FFE591;}
section{width: 100%;max-width: 1200px;margin: 0 auto;}
h1{width: 300px;margin: 0 auto;padding-top: 150px;}
h1 img{width: 100%;}

#bigbox{width: 100%;background: #fff;border-radius: 60px;box-shadow: 10px 5px 8px 2px rgba(0, 0, 0, 0.4);padding-bottom: 80px;}
.subbox{padding-top: 80px;width: 100%;}
h2{text-align: center;padding-bottom: 80px;}
input{display: block;margin: 0 auto;margin-bottom: 30px;border: none;border-bottom:1px solid #4A4A4A;padding-right: 60px;opacity: 0.2;font-size: 0.9rem; font-weight: bold;padding-bottom: 10px;padding-left: 5px;outline: none;}

.login{background:#f0d888;border: none;border-radius: 30px;padding: 10px 80px;font-weight: bold;color:#4A4A4A;position: absolute; left: 50%;transform: translate(-50%);box-shadow: 1px 2px 5px 0.1px rgba(0, 0, 0, 0.4);font-size:0.9rem;cursor: pointer;}
.findbtn{position: absolute;right: 20%;top: 560px;}
.id, .pwd {background: none;border: none;color: #4A4A4A;opacity: 0.5;font-weight: bold;font-size: 0.9rem;cursor: pointer;}
p{margin-top: 150px;font-weight: bold;color: #4A4A4A;opacity: 0.5;font-size: 0.8rem;line-height: 1.5;}
.txt{width: 80%;margin: 0 auto;}
.join{background: none;border: none;font-weight: bold;padding-left: 0;padding-top: 20px;font-size: 0.9rem;cursor: pointer;}

.or{text-align: center;margin-top: 50px;font-size: 0.9rem;}
.or2{text-align: center;margin-top: 10px;font-size: 0.9rem;}

.sns{width: 100%; margin-top: 30px;}
.sns ul{display: flex;width: 150px;margin: 0 auto;}
.sns ul li{margin-right: 20px;}
.sns ul li:last-child{margin-right: 0;}
.sns img{width: 100%;}

.info_box{width: 100%;}
.info{font-size: 0.8rem;line-height: 2;padding-left: 50px;padding-bottom: 50px;margin-top: 30px;}

@media screen and (min-width:740px) {
    .findbtn{position: absolute;right: 30%;}
    #bigbox{border-radius: 80px;}
    
}

@media screen and (min-width:1000px) {
    .findbtn{position: absolute;right: 35%;}
    
}

@media screen and (min-width:1500px) {
    .findbtn{position: absolute;right: 40%;}
}


