@charset "utf-8";

*,*::after,*::before{box-sizing: border-box;}
a{text-decoration: none;color: #000;}
html{scroll-behavior: smooth;}
body{background: #FFE591;height: 100%;}
#header{width: 100%;height: 70px; background:#FFE591;position: fixed;top: 0;padding-top: 10px;z-index: 99999;}
#header h1{text-align: center;}
#header h1 img{width: 200px;}
.hm{position: absolute;top: 25px;left: 30px;width: 30px;}
.search{position: absolute;top: 20px;right: 80px;width: 30px;}
.account{position: absolute;top: 20px;right: 30px;width: 30px;}
#head img{width: 100%;}

#header2{display: none;}

nav{width: 100%;height:100%;background:#FFE591;position: absolute;top: 0;z-index: 999999;position: fixed;}
.mbox{background: #fff;width: 100%;min-height: 60%;max-height: 100%; border-radius: 0 0 80px 0;box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);padding-bottom: 100px;}
.cross{border: none;background: none;font-size: 100px;position: absolute;top: 50px;right: 50px;}
.menu{width: 100%; padding-top: 150px; padding-left: 50px;}
.menu a{font-weight: bold;font-size: 30px;color: #000; line-height: 70px;}

nav{display: none;}
.sub{display: none;}
.sub1{display:none; text-indent: 10px;}
.sub1>li>a{font-size:1.5rem;}
.sub2{display:none;}

.bbanner{width: 100%;text-align: center;min-height: 30%;}
.bbanner ul{display: flex;justify-content: center;padding-top: 50px;}
.bbanner ul li{margin-right: 40px;width: 170px;}
.bbanner ul li:last-child{margin-right: 0;}
.bbanner img{width: 100%;box-shadow: 5px 5px 8px 0.1px rgba(0, 0, 0, 0.4);}
.nbtn{background: none;border: none;padding-top: 15px;font-weight: bold;font-size: 1.1rem;}

section{background:#fff;border-radius: 60px;margin-top: 70px;box-shadow: 10px 5px 8px 2px rgba(0, 0, 0, 0.4);padding-bottom: 150px;}
section h1{padding-left: 80px;padding-top: 80px;font-size: 1.8rem;}
.line1{border-bottom: 4px solid #4A4A4A;opacity: 0.8;width: 80%;margin: 0 auto;padding-top: 15px;margin-bottom: 50px;}

.close4{display: none;}
.yellowbox{width: 90%;margin: 0 auto;}
.authorbox{width: 90%;margin: 0 auto;display: flex;margin-bottom: 30px;padding-top: 20px;padding-left: 40px;}
.imgbox{width: 200px;}
.imgbox>img{width: 100%;border-radius: 30px;}
.text1{padding-top: 170px; padding-left: 30px;}
.text2{width: 90%;margin: 0 auto;}
.text2>p{width: 100%;}
.text1_2{display: none;}
p{font-size: 0.9rem;line-height: 2;}

.line2{border-bottom: 4px solid #4A4A4A;opacity: 0.3;width: 80%;margin: 0 auto;padding-top: 100px;margin-bottom: 50px;}

.yellowbox2{width: 100%;margin: 0 auto;padding-bottom: 150px;}
.yellowbox2>h2{padding-left: 10%;padding-bottom: 30px;margin-top: 100px;}
.yellowbox2 ul{display: flex;width: 100%; justify-content: center;margin: 0 auto;flex-wrap: wrap;}
.yellowbox2 ul li{width: 140px;margin-right: 10px;}
.yellowbox2 ul li:first-child{margin-right: 0;}
.yellowbox2 ul li img{width: 100%; height: auto;}
.open4{background: none;border: none;position: absolute;right: 60px;margin-top: 20px;padding-right:20px;font-size: 0.9rem;}
.open4::after{content: "";border-bottom: none;border-top: 13px solid #040A2B; border-right: 8px solid transparent; border-left: 8px solid transparent;width: 0;height: 0;position: absolute;right: 0;top: 5px;}
.open4.active::after{border-bottom: 13px solid #040A2B;border-top: none;}



.tbtn{width: 50px;position: fixed;right: 10px;bottom: 10px;}
.tbtn>img{width: 100%;}

footer{width: 100%;padding-top: 100px; font-weight: bold;padding-bottom: 100px;}
footer p{color: #4A4A4A;font-size: 0.6rem;line-height: 2;}
.fbox1,.fbox2{padding-left: 30px;}
.f1{display: flex;}
.f2{display: flex;}
.web ul{display: flex;}
.fbox1 li{margin-right: 10px;}
.fbox2{padding-top: 50px;}
.fbox2 h2{width: 300px;}
.fbox2 img{width: 100%;}
.fbox2 ul{display: flex;}
.fbox2 ul li{margin-right: 20px;padding:30px 0;}
.fbox2 a{color: #4A4A4A ;}
.f{font-size: 1rem;padding-left: 10px;padding-bottom: 5px;padding-top: 5px;}


@media screen and (min-width:740px) {
    .close4{display: block!important;}
    .open4{display: none;}
    .yellowbox2 ul{width: 90%;}
    .yellowbox2 ul li{width: 18%;}

    p{font-size: 1rem;}
    
    .text1{margin-bottom: 60px;}

    section{border-radius: 80px;}

}

@media screen and (min-width:1200px){
    #bigbox{width:100%;position: relative; max-width: 1200px;margin: 0 auto;overflow-x: hidden;}

    #header2{width: 100%;height: 120px; background:#FFE591;}
    #header2 h1{width: 350px;display: fixed;padding-top: 70px;margin-left: 100px;}
    #header2 h1 a img{width: 100%;}
    .menubox{display: flex;position: absolute;top: 142px;left: 45%;width: 100%;}
    .menubox li{margin-right: 50px;}
    .menubox li:last-child{margin-right: 0;}
    .menubox li a{font-weight: bold;font-size: 1.5rem;color: #4A4A4A;}

    .pcright{display: flex;width: 120px;position: absolute;right: 80px;top: 140px;}
    .pcright li{margin-right: 50px;}
    .pcright li:last-child{margin-right: 0;}
    .pcright li a img{width: 100%;}

    .sub{width: 100%;position: absolute;left: -45%;top: 46px;z-index: 9999;background: #FFE591;width: 100%;height: 500px;border-radius: 0 0 100px 0 ;padding-left: 50px;}
    .ssub{width:100% ;display: flex;padding-top: 60px;}
    .ssub ul li ul li a{font-size: 1.1rem;line-height: 2;}
    .list2{border-top: 5px solid #4A4A4A;padding-top: 5px;width: 150px;padding-left: 5px;margin-top: 10px;}
    .list{margin-right: 50px;}
    
    .bannerright{text-align: center;margin-left: 50px; position: absolute; right: 5%;}
    .rightbanner{display: flex;padding-top: 50px;}
    .rightbanner li{width: 120px;}
    .rightbanner li img{width: 100%;box-shadow:5px 5px 8px 2px rgba(0, 0, 0, 0.4) ;}
    .nbbtn{background: none;border: none;font-weight: bold;font-size: 1rem;margin-top: 20px;}
    
    .sub{display: none;}

    #header{display: none;}
    #header2{display: block;}
    .d_none{display: block;}

    #box{width: 90%;padding-top: 100px;margin: 0 auto;}
    .subbox{width: 60%;margin: 0 auto;}
    .leftbox{width: 300px;}
    .rightbox{padding-left: 40px;}
    .rightbox h2{font-size: 1.7rem;padding-bottom: 30px;}
    .rightbox li{font-size: 1rem;}
    .btns{margin-top: 60px;}

    .line2{display: none;}
    .line1{width: 90%;}

    .selected2{border-bottom: 8px solid #4A4A4A;padding-bottom: 3px;padding-left: 10px; padding-right: 10px;}

    .text1{display: none;}
    .text1_2{display: block; display: flex;margin-bottom: 30px;}
    .text1_2 li{margin-right: 20px;}
    .text1_2 li:first-child{font-size: 1.2rem; font-weight: bold;}
    .text1_2 li:last-child{font-size: 0.9rem; font-weight: bold; color: #4A4A4A; opacity: 0.5;padding-top:  6px;}
    .yellowbox{background:rgba(233, 211, 139, 0.2);border-radius: 30px;width: 90%;}
    .bigbox{display: flex;width: 90%;}
    .imgbox{padding-top: 30px;padding-left: 30px; width: 250px;}
    .imgbox>img{width: 100%;}
    .text2>p{font-size: 0.9rem;}
    .authorbox{width: 40%;}
    .text2{width: 60%;padding-top: 35px;padding-bottom: 80px;}
    
    .yellowbox2 ul{width: 90%;}
    .yellowbox2 ul li{width: 18%;}
 
    
}