@charset "utf-8";

*,*::after,*::before{box-sizing: border-box;}
a{text-decoration: none;color: #000;}
html{scroll-behavior: smooth;}
body{background: #FFE591;height: 100%;}
#header{width: 100%;height: 70px; background:#FFE591;position: fixed;top: 0;padding-top: 10px;z-index: 99999;}
#header h1{text-align: center;}
#header h1 img{width: 200px;}
.hm{position: absolute;top: 25px;left: 30px;width: 30px;}
.search{position: absolute;top: 20px;right: 80px;width: 30px;}
.account{position: absolute;top: 20px;right: 30px;width: 30px;}
#head img{width: 100%;}

#header2{display: none;}

nav{width: 100%;height:100%;background:#FFE591;position: absolute;top: 0;z-index: 999999;position: fixed;}
.mbox{background: #fff;width: 100%;min-height: 60%;max-height: 100%; border-radius: 0 0 80px 0;box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);padding-bottom: 100px;}
.cross{border: none;background: none;font-size: 100px;position: absolute;top: 50px;right: 50px;}
.menu{width: 100%; padding-top: 150px; padding-left: 50px;}
.menu a{font-weight: bold;font-size: 30px;color: #000; line-height: 70px;}

nav{display: none;}
.sub{display: none;}
.sub1{display:none; text-indent: 10px;}
.sub1>li>a{font-size:1.5rem;}
.sub2{display:none;}

.b1{display: none;}

.d_none{display: none;}
.d_none2{display: none;}

/*--------------------------------------------------메인 배너--------------------------------------------------------------------*/
.bbanner{width: 100%;text-align: center;}
.bbanner ul{display: flex;justify-content: center;padding-top: 50px;}
.bbanner ul li{margin-right: 40px;width: 170px;}
.bbanner ul li:last-child{margin-right: 0;}
.bbanner img{width: 100%;box-shadow: 5px 5px 8px 0.1px rgba(0, 0, 0, 0.4);}
.nbtn{background: none;border: none;padding-top: 15px;font-weight: bold;font-size: 1.1rem;}

section{background: #fff;border-radius: 60px;margin-top: 68px;box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);height: 100%;}

.banner{width: 100%;position: relative;overflow: hidden;}
.b2{width: 300%;left: 0;}
.b2 li{width: 33.33%;float: left;}
.b2 img{width: 100%;border-radius: 60px 60px 0 0;}

#idc{width: 100%;}
#idc ul {display: flex;position: absolute;bottom: 30px;left: 50%; transform: translateX(-50%);}
#idc ul li{width: 10px;height: 10px;border-radius: 10px;margin-right: 10px;background:#f0f0f0;}
#idc ul li a{width: 100%;height: 100%;display: block; }
#idc ul li:last-child{margin-right: 0;}
.on{background: #000;width: 10px;height: 10px;border-radius: 10px;}

/*--------------------------------------------------일반도서/키즈도서--------------------------------------------------------------------*/
h2{padding-bottom: 50px; margin-top: 100px;}
.box{width: 80%;margin: 0 auto;position: relative;gap: 50px;padding-top: 50px;}
.box ul li a img{width: 100%; display: block;aspect-ratio: 3/4; object-fit: cover;}

.leftBtn{width: 30px;position: absolute;bottom: 20%;left: -35px; transform: translateY(-20%); z-index: 10;}
.rightBtn{width: 30px;position: absolute;bottom: 20%;right: -35px; transform: translateY(-20%); z-index: 10;}
.leftBtn img{width: 100%;}
.rightBtn img{width: 100%;}

/*--------------------------------------------------새로나온도서--------------------------------------------------------------------*/
.newbook-box{width: 100%;max-width: 550px;margin-top: 150px;}
.newbook-box ul.yb{width:90%;background:rgba(233, 211, 139, 0.2); border-radius: 20px;box-shadow: 0px 3px 8px 0.1px rgba(0, 0, 0, 0.1);overflow: hidden;position: relative;margin: 0 auto;}
.newbook-h2{text-align: center;margin: 0;padding-top: 20px;}
.newbook-box button.slick-arrow{background: none;border: none;color: transparent;}
.slick-dots{position: absolute;bottom: 5%;left: 50%;transform: translateX(-50%);text-align: center;width: 100%;}
.slick-dots li{width: 20px;height: 20px;display: inline-block;margin-right: 5px;}
.slick-dots > li > button{font-size: 0; width: 15px;height: 15px;background:lightgray;opacity: 0.4; border-radius: 7.5px;border: none;cursor: pointer;}
.slick-dots > li.slick-active button{background: #333;opacity: 1;}

.up{width: 100%;display: flex;justify-content: center;}
.up a{width: 150px;}
.up img{width: 100%;}
.uptext{width: 50%;}
.name {font-size: 0.8rem ;line-height: 2;}
button.qv{background:#fff; border-radius: 30px;padding: 10px 20px;border: none;box-shadow: 2px 4px 5px 0.1px rgba(0, 0, 0, 0.4);font-weight: bold;margin-left: 5px;margin-top: 129px;cursor: pointer;}
button.qv2{background:#fff; border-radius: 30px;padding: 10px 20px;border: none;box-shadow: 2px 4px 5px 0.1px rgba(0, 0, 0, 0.4);font-weight: bold;margin-left: 10px;margin-top: 100px;cursor: pointer;}
.downtext{padding-top: 20px;font-size: 0.8rem;text-align: center;line-height: 2;padding-bottom: 50px;}
.downtext span{font-weight: bold;font-size: 1.2rem;}

.tt {font-weight: bold;font-size: 1rem;}
.tt2{font-size: 0.9rem;text-indent: 2px;}

/*--------------------------------------------------웹툰/웹소설--------------------------------------------------------------------*/
.web-box{width: 80%;margin: 0 auto; max-width: 400px;padding-top: 50px;}
.web-subbox{width: 100%; display: flex;gap: 10px;}
.web-subbox ul{width: 50%;margin: 0 auto;}
.web-subbox ul li a{width: 150px;}
.web-subbox ul li a img{width: 100%;}
.web-subbox span.title{font-weight: bold; display: block;}

/*--------------------------------------------------연재--------------------------------------------------------------------*/
.ongoing-box{width: 80%;margin: 0 auto;padding-top: 50px;}
.ongoing-h2{text-align: center;}
.ongoing-subbox{width: 100%; display: flex;justify-content: center; gap: 10px;}
.ongoing-subbox ul{width: 100%; background:rgba(233, 211, 139, 0.2);border-radius: 20px;padding: 60px 10px;}
.ongoing-subbox ul li img{width: 120px;display: block;margin: 0 auto;}
.ongoing-box p{text-align: center;padding-top: 40px;}
.ongoing-subbox span{font-weight: bold;display: block; font-size: 1.2rem;padding: 10px 0;}
span.t1{padding: 15px 0;}
span.t2,span.t3{color: gray; font-size: 0.9rem;}
.off,.off2{display: none;}

/*--------------------------------------------------sns--------------------------------------------------------------------*/
.sns-box{width: 80%;margin: 0 auto;padding-bottom: 200px; max-width: 800px;}
.sns-subbox{width: 100%;}
.sns-subbox ul{display: flex;justify-content: center; mask-image: linear-gradient(to right,transparent, black 10%,black 90%,transparent); gap: 10px;}
.sns-subbox ul li{width: 25%;}
.sns-subbox ul li a img{width: 100%;}

/*--------------------------------------------------탑버튼-------------------------------------------------------------------*/
.tbtn{width: 50px;position: fixed;right: 10px;bottom: 10px;}
.tbtn img{width: 100%;}

/*--------------------------------------------------footer--------------------------------------------------------------------*/
footer{width: 90%;padding-top: 120px; font-weight: bold;padding-bottom: 100px;}
footer p{color: #4A4A4A;font-size: 0.6rem;line-height: 2;}
.fbox1,.fbox2{padding-left: 30px;}
.f1{display: flex;}
.f2{display: flex;}
.web ul{display: flex;}
.fbox1 li{margin-right: 10px;}
.fbox2{padding-top: 50px;}
.fbox2 h2{width: 300px;}
.fbox2 img{width: 100%; }
.fbox2 ul{display: flex;}
.fbox2 ul li{margin-right: 20px;padding:30px 0;}
.fbox2 a{color: #4A4A4A ;}
.f{font-size: 1rem;padding-left: 10px;padding-bottom: 5px;padding-top: 5px;}

@media screen and (min-width:481px) {
    /*일반,키즈*/ 
    .leftBtn{width: 35px;left: -40px;}
    .rightBtn{width: 35px;right: -40px;}

    /*연재*/
    .off{display: block;}
    .ongoing-box{width: 90%;}
}

@media screen and (min-width:740px) {
    section{border-radius: 80px;}
    .b2{display: none;}
    .b1{display: block;width: 300%;left: 0;}
    .b1 li{width: 33.33%;float: left;}
    .b1 img{width: 100%;border-radius: 80px 80px 0 0;}
    .rightbox2{display: none;}


    /*일반,키즈*/ 
    .leftBtn{width: 40px;left: -50px;}
    .rightBtn{width: 40px;right: -50px;}
    
    /*새로나온도서*/
    .newbook-box{margin: 0 auto;padding-top: 150px;}

    /*연재*/
    .off2{display: block;}
    .ongoing-box{max-width: 700px;}

    .box7{width: 60%;margin: 0 auto;}


}
@media screen and (min-width:1000px) {
    .bannerright{position: absolute;right: 15%;}

    /*일반,키즈*/
    .box{padding-top: 100px;}

    /*새로나온도서*/
    .newbook-box{margin-top: 100px;}

    /*웹툰,웹소설*/
    .web-bigbox{display: flex;width: 80%;margin: 0 auto; gap: 50px;padding-top: 100px;}

    /*연재*/
    .ongoing-box{padding-top: 100px;}

    /*sns*/
    .sns-box{padding-top: 100px;padding-bottom: 300px;}

}



@media screen and (min-width:1200px){
    #bigbox{width:100%;position: relative; max-width: 1200px;margin: 0 auto;overflow-x: hidden;}

    #header2{width: 100%;height: 120px; background:#FFE591;}
    #header2 h1{width: 350px;display: fixed;padding-top: 70px;margin-left: 100px;}
    #header2 h1 a img{width: 100%;}
    .menubox{display: flex;position: absolute;top: 142px;left: 45%;width: 100%;}
    .menubox li{margin-right: 50px;}
    .menubox li:last-child{margin-right: 0;}
    .menubox li a{font-weight: bold;font-size: 1.5rem;color: #4A4A4A;}

    .pcright{display: flex;width: 120px;position: absolute;right: 80px;top: 140px;}
    .pcright li{margin-right: 50px;}
    .pcright li:last-child{margin-right: 0;}
    .pcright li a img{width: 100%;}

    .sub{width: 100%;position: absolute;left: -45%;top: 46px;z-index: 9999;background: #FFE591;width: 100%;height: 500px;border-radius: 0 0 100px 0 ;padding-left: 50px;}
    .ssub{width:100% ;display: flex;padding-top: 60px;}
    .ssub ul li ul li a{font-size: 1.1rem;line-height: 2;}
    .list2{border-top: 5px solid #4A4A4A;padding-top: 5px;width: 150px;padding-left: 5px;margin-top: 10px;}
    .list{margin-right: 50px;}
    
    .bannerright{text-align: center;margin-left: 50px; position: absolute; right: 5%;}
    .rightbanner{display: flex;padding-top: 50px;}
    .rightbanner li{width: 120px;}
    .rightbanner li img{width: 100%;box-shadow:5px 5px 8px 2px rgba(0, 0, 0, 0.4) ;}
    .nbbtn{background: none;border: none;font-weight: bold;font-size: 1rem;margin-top: 20px;}

    #header{display: none;}
    #header2{display: block;}

    .d_none2{display: block;}

}